/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Layout */
section {
    padding: 2em;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

/* Home */
.intro {
    text-align: center;
    padding: 3em;
}

.intro h1 {
    font-size: 3em;
}

.btn {
    background-color: #5e4b8b;
    color: white;
    padding: 0.5em 2em;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #3d2a56;
}

/* Skills */
.skills ul {
    list-style-type: none;
}

.skills li {
    padding: 1em;
    background-color: #ffffff;
    margin-bottom: 1em;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Contact Form */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1em;
}

form input, form textarea {
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #5e4b8b;
    color: white;
    padding: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #3d2a56;
}

/* Responsive Design */
@media (max-width: 768px) {
    .intro h1 {
        font-size: 2em;
    }

    .skills ul {
        padding: 0;
    }
}
